/* Heading of scouts page */
#h1_scouts_heading {
    font-size: 1.7rem;
    margin-top: 1rem;
    background: #2f3136;
    color: #bfbfbb;
    padding: 0.2em 1em;
    border-radius: 3px;
    border-left: solid #e74856 5px;
    font-weight: 100;
}

#h2_scouts_table_heading {
    float: right !important;
    width: 92%;
}

#table_scouts tr {
    height: 50px !important;
}

.clickable:hover {
    cursor: pointer;
    background: #42444a;
}

#p_console_output {
    margin-top: 0 !important;
    width: 100%;
    background-color: #252629;
    height: 400px;
    overflow-y:auto;
    border: solid #252629 1px;
}

#div_console_header {
    margin-bottom: 0 !important;
    width: 100%;
    border: solid #252629 1px;
}

.multiline:hover {
    cursor: default;
}

.multiline::selection {
    background-color: white;
    color: black;
}

.multiline {
    padding: 0 !important;
}

.command_input:focus {
    outline: none;
}

#div_direct_components_win_execute_python_command_input {
    width: 100%;
    background-color: #252629;
    height: 400px;
    overflow-y:auto;
    padding: 6px 10px;
}

#div_direct_components_lin_execute_python_command_input {
    width: 100%;
    background-color: #252629;
    height: 400px;
    overflow-y:auto;
    padding: 6px 10px;
}

#div_direct_components_win_execute_python_command_input::selection {
    background-color: #ffffff !important;
    color: #000000 !important;
}

#div_direct_components_lin_execute_python_command_input::selection {
    background-color: #ffffff !important;
    color: #000000 !important;
}

.input_console_command:focus{
    outline: none;
}

.input_console_command{
    padding: 0 !important;
    width: 95% !important;
}