/* Global */
body {
	background: #36393e;
	color: #bfbfbf;
	font-family: Consolas;
	margin: 0;
}
h1:not(.label) {
	font-size: 1.7rem;
    margin-top: 1rem;
    background: #2f3136;
    color: #bfbfbb;
    padding: 0.2em 1em;
    border-radius: 3px;
    border-left: solid #ffffff 5px;
    font-weight: 100;
}
h2:not(.custom_label) {
	font-size: 1.1rem;
    margin-top: 1rem;
    background: #2f3136;
    color: #bfbfbb;
    padding: 0.4em 1.8em;
    border-radius: 3px;
    border-left: solid #4974a9 5px;
    font-weight: 100;
}
table{
	border-collapse: collapse;
}
label{
	line-height: 38px;
}
p{
	margin: 0.5em 0;
}
.left {
	float: left;
}
.right {
	float: right;
}
.bold {
	font-weight: bold;
}
.red{
	color: #F04747;
}
.green{
	color:#43B581;
}
.clear {
	clear: both;
}
.centered{
	text-align: center;
}
.select{
	width: 98px !important;
	padding: 0 !important;
}
.selected{
	background: #4974a9;
}
.status{
	width: 120px;
	padding-left: 8px;
}
.labelFix {
	line-height: 44px;
}
.clickable{
	cursor: pointer;
}
.settingName{
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: underline;
}
#error {
    text-align: center;
    color: #fff;
    background: #af3535;
    border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
}
#success {
    text-align: center;
    color: #fff;
    background: #43B581;
    border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
}
#closeError{
	float: right;
	color: #fff;
	padding: 0 10px;
	cursor: pointer;
}
#copyright{
	font-size: 0.95em;
	text-align: center;
	margin-top: 3em;
	margin-bottom: 3em;
}

/* Customize the label (the container) */
.label_checkbox_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
    margin-right: 10px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 32px;
}

/* Hide the browser's default checkbox */
.label_checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 8px;
  left: 0;
  height: 28px;
  width: 28px;
  background-color: #2F3136;
  border-radius: 4px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.label_checkbox_container input:checked ~ .checkmark:after {
  display: block;
}
.label_checkbox_container .checkmark:after {
  left: 10px;
  top: 7px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ERROR */
.hide {
	display: none;
}
.show {
	display: block !important;
	animation-name: fadeIn;
	animation-duration: 1s;
}
@keyframes fadeIn {
	0%   {opacity: 0;}
	100% {opacity: 1;}
}
hr {
	background: #3e4146;
}
a{
	color: #5281bb;
    text-decoration: none;
}
a:hover {
	color: #95b8e4;
}
li{
	margin: 4px 0;
}

/* Meter */
.meter_background{
	background: #42464D;
	width: 100%;
	word-break: normal;
	min-width: 100px;
}
.meter_forground{
	color: #fff;
	padding: 4px 0;
}
.meter_green{
	background: #43B581;
}
.meter_orange{
	background: #FAA61A;
}
.meter_red{
	background: #F04747;
}
.meter_value{
	padding-left: 8px;
}


/* Tables */
table {
	width: 100%;
	min-width: 420px;
	margin-bottom: 2em;
}
td{

}
th, td {
    padding: 10px 6px;
    text-align: left;
    border-bottom: 1px solid #5d5d5d;
}



/* Navigation bar */
nav {
	display: block;
	padding: 8px 10px;
	background: #2f3136;
}
nav a {
	color: #bfbfbf;
	padding: 0.5em;
	display: inline-block;
	text-decoration: none;
}
nav a:hover{
	background: #36393f;
	color:#cecece;
	border-radius: 4px;
}

/* Inputs and buttons */
.upload-script, .button, button, input[type="submit"], input[type="reset"], input[type="button"] {
	display: inline-block;
	height: 38px;
	padding: 0 20px;
	color:#fff;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background: #2f3136;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	box-sizing: border-box;
    width: auto;
    font-family: inherit;
}
button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
	background: #42444a !important;
}
button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
	transform: scale(.93);
}
button:disabled {
    cursor: default !important;
}

/* Forms */
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
	height: 38px;
	padding: 6px 10px;
	background-color: #2f3136;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
	color: #d4d4d4;
	border: none;
	width: 5em;
    font-family: inherit;
}
input[type="text"]{
	width: 15em;
}
input[id="input_key"]{
	width: 35em;
}
.setting {
	width: 100% !important;
	max-width: 284px !important;
}
input[type="file"] {
    display: none;
}

/* Grid System */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}
.row {
  position: relative;
  width: 100%;
}
.row [class^="col"] {
  float: left;
  margin: 0.25rem 2%;
  min-height: 0.125rem;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}
.row::after {
	content: "";
	display: table;
	clear: both;
}

/* hide elements on startup */
.hidden-sm {
  display: none;
}

/* No idea what this is */
@media only screen and (min-width: 24em) {
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

/* for labels on home page and animation */
#h2_generator_label{
	font-size: 1.1rem;
    margin-top: 1rem;
    background: #2f3136;
    color: #bfbfbb;
    padding: 0.4em 1.8em;
    border-radius: 3px;
    border-left: solid #13a10e 5px;
    font-weight: 100;

	background: linear-gradient(to right, #13a10e 50%, #2f3136 50%);
	background-size: 300% 100%;
	background-position: right bottom;
	transition: all 1s ease-out, color 0.5s;
}
#h2_listeners_label{
	font-size: 1.1rem;
    margin-top: 1rem;
    background: #2f3136;
    color: #bfbfbb;
    padding: 0.4em 1.8em;
    border-radius: 3px;
    border-left: solid #3b79ff 5px;
    font-weight: 100;

	background: linear-gradient(to right, #3b79ff 50%, #2f3136 50%);
	background-size: 300% 100%;
	background-position: right bottom;
	transition: all 1s ease-out, color 0.5s;
}
#h2_scouts_label{
	font-size: 1.1rem;
    margin-top: 1rem;
    background: #2f3136;
    color: #bfbfbb;
    padding: 0.4em 1.8em;
    border-radius: 3px;
    border-left: solid #e74856 5px;
    font-weight: 100;

	background: linear-gradient(to right, #e74856 50%, #2f3136 50%);
	background-size: 300% 100%;
	background-position: right bottom;
	transition: all 1s ease-out, color 0.5s;

}
#h2_generator_label:hover{
    background-position: left bottom;
	color: #000000
}
#h2_listeners_label:hover{
    background-position: left bottom;
	color: #000000
}
#h2_scouts_label:hover{
    background-position: left bottom;
	color: #000000
}
/* Heading of home page */
#h1_home_heading {
    font-size: 1.7rem;
    margin-top: 1rem;
    background: #2f3136;
    color: #bfbfbb;
    padding: 0.2em 1em;
    border-radius: 3px;
    border-left: solid #ffffff 5px;
    font-weight: 100;
}

/* Heading of generator page */
#h1_generator_heading {
    font-size: 1.7rem;
    margin-top: 1rem;
    background: #2f3136;
    color: #bfbfbb;
    padding: 0.2em 1em;
    border-radius: 3px;
    border-left: solid #13a10e 5px;
    font-weight: 100;
}

/* Heading of listeners page */
#h1_listeners_heading {
    font-size: 1.7rem;
    margin-top: 1rem;
    background: #2f3136;
    color: #bfbfbb;
    padding: 0.2em 1em;
    border-radius: 3px;
    border-left: solid #3b79ff 5px;
    font-weight: 100;
}

/* Heading of scouts page */
#h1_scouts_heading {
    font-size: 1.7rem;
    margin-top: 1rem;
    background: #2f3136;
    color: #bfbfbb;
    padding: 0.2em 1em;
    border-radius: 3px;
    border-left: solid #e74856 5px;
    font-weight: 100;
}

/* For slider switches in compiler configuration table */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #3e4146;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #cecece;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* To center generate button */
.center {
    margin: auto;
    padding: 10px;
    width: 90%;
}

/* For scrolling of components table */
#table_components{
    overflow-y:auto;
    height:700px;
    display:block;
    overflow-x: auto;
    width: 100%;
}

/* Sticky top row of components table */
.sticky {
    background: #36393f; !important;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* for custom labels */
.custom_label {
    font-size: 1.1rem;
    margin-top: 10px;
    background: #2f3136;
    color: #bfbfbb;
    padding: 0.4em 1.8em;
    border-radius: 3px;
    border-left: solid #4974a9 5px;
    font-weight: 100;
    float: right;
    width: 88%;
}

#h2_scouts_table_heading {
    float: right !important;
    width: 92%;
}

#table_scouts tr {
    height: 50px !important;
}

.clickable:hover {
    cursor: pointer;
    background: #42444a;
}

#a_scout_link:hover {
    cursor: pointer;
}

#p_direct_components_console_output {
    margin-top: 0px !important;
    width: 100%;
    background-color: #252629;
    height: 400px;
    overflow-y:auto;
    border: solid #252629 1px;
}

#div_direct_components_console_header {
    margin-bottom: 0px !important;
    width: 100%;
    border: solid #252629 1px;
}

.multiline:hover {
    cursor: default;
}

.multiline::selection {
    background-color: white;
    color: black;
}

.multiline {
    padding: 0px !important;
}

.command_input:focus {
    outline: none;
}

#div_direct_components_python_command_input {
    width: 100%;
    background-color: #252629;
    height: 400px;
    overflow-y:auto;
    padding: 6px 10px;
}

#div_direct_components_python_command_input::selection {
    background-color: #ffffff !important;
    color: #000000 !important;
}