/* Global */
body {
	background: #36393e;
	color: #bfbfbf;
    font-family: Consolas, Monaco, "Courier New", monospace;
	margin: 0;
}
h1:not(.label) {
	font-size: 1.7rem;
    margin-top: 1rem;
    background: #2f3136;
    color: #bfbfbb;
    padding: 0.2em 1em;
    border-radius: 3px;
    border-left: solid #ffffff 5px;
    font-weight: 100;
}
h2:not(.custom_label) {
	font-size: 1.1rem;
    margin-top: 1rem;
    background: #2f3136;
    color: #bfbfbb;
    padding: 0.4em 1.8em;
    border-radius: 3px;
    border-left: solid #4974a9 5px;
    font-weight: 100;
    width: 88%;
}
label{
	line-height: 38px;
}

.select{
	width: 98px !important;
	padding: 0 !important;
}
.red {
    color: #e74856;
}
#error {
    text-align: center;
    color: #fff;
    background: #af3535;
    border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
}
#success {
    text-align: center;
    color: #fff;
    background: #43B581;
    border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
}
#closeError{
	float: right;
	color: #fff;
	padding: 0 10px;
	cursor: pointer;
}
#copyright{
	font-size: 0.95em;
	text-align: center;
	margin-top: 3em;
	margin-bottom: 3em;
}

/* Customize the label (the container) */
.label_checkbox_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
    margin-right: 10px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 32px;
}

/* Hide the browser's default checkbox */
.label_checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 8px;
  left: 0;
  height: 28px;
  width: 28px;
  background-color: #2F3136;
  border-radius: 4px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.label_checkbox_container input:checked ~ .checkmark:after {
  display: block;
}
.label_checkbox_container .checkmark:after {
  left: 10px;
  top: 7px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ERROR */
.hide {
	display: none;
}
.show {
	display: block !important;
	animation-name: fadeIn;
	animation-duration: 1s;
}
@keyframes fadeIn {
	0%   {opacity: 0;}
	100% {opacity: 1;}
}
hr {
	background: #3e4146;
}
a{
	color: #5281bb;
    text-decoration: none;
}
a:hover {
	color: #95b8e4;
}
li{
	margin: 4px 0;
}

/* Tables */
table {
	width: 100%;
	min-width: 450px;
	margin-bottom: 2em;
    border-collapse: collapse;
}
th, td {
    padding: 8px 6px;
    text-align: left;
    border-bottom: 1px solid #5d5d5d;
}

/* Navigation bar */
nav {
	display: block;
	padding: 8px 10px;
	background: #2f3136;
}
nav a {
	color: #bfbfbf;
	padding: 0.5em;
	display: inline-block;
	text-decoration: none;
}
nav a:hover{
	background: #36393f;
	color:#cecece;
	border-radius: 4px;
}

/* Inputs and buttons */
.upload-script, .button, button, input[type="submit"], input[type="reset"], input[type="button"] {
	display: inline-block;
	height: 38px;
	padding: 0 20px;
	color:#fff;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background: #2f3136;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	box-sizing: border-box;
    width: auto;
    font-family: inherit;
}
button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
	background: #42444a !important;
}
button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
	transform: scale(.93);
}
button:disabled {
    cursor: default !important;
}

/* Forms */
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
	height: 38px;
	padding: 6px 10px;
	background-color: #2f3136;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
	color: #d4d4d4;
	border: none;
	width: 5em;
    font-family: inherit;
}
input[type="text"]{
	width: 15em;
}
input[id="input_key"]{
	width: 35em;
}
.setting {
	width: 100% !important;
	max-width: 284px !important;
}
input[type="file"] {
    display: none;
}

/* Grid System */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}
.row {
  position: relative;
  width: 100%;
}
.row [class^="col"] {
  float: left;
  margin: 0.25rem 2%;
  min-height: 0.125rem;
}
.col-12 {
  width: 96%;
}
.row::after {
	content: "";
	display: table;
	clear: both;
}

/* hide elements on startup */
.hidden-sm {
  display: none;
}

/* No idea what this is */
@media only screen and (min-width: 24em) {
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

/* To center */
.center {
    margin: auto;
    padding: 10px;
    width: 90%;
}

/* for custom labels */
.custom_label {
    font-size: 1.1rem;
    margin-top: 10px;
    background: #2f3136;
    color: #bfbfbb;
    padding: 0.4em 1.8em;
    border-radius: 3px;
    border-left: solid #4974a9 5px;
    font-weight: 100;
    width: 88% !important;
}

/* Scrollbar stuff */
::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: #2f3136;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #252629;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #252629;
}

/* Any headings */
.div_heading {
    display: flex;
    flex-flow: row nowrap !important;
    justify-content: flex-start !important;
    align-items: center !important;
    width: 100% !important;
    align-content: space-around;
    margin: 0.5em;
}

/* Dropdown Arrows */
.img_arrow {
    margin-right: 20px !important;
}

p {
    white-space: normal !important;
}

/* Loader */
.loader, .loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid #2f3136;
    border-right: 1.1em solid #2f3136;
    border-bottom: 1.1em solid #2f3136;
    border-left: 1.1em solid #5b5b5b;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#div_loading {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: #36393e;
    z-index: 99999999999999;
}
