<!DOCTYPE html>
<html>
	<head>
		<script src="static/assets/js/jquery.min.js"></script>
		<link rel="stylesheet" href="static/assets/css/font-awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="static/assets/css/style.css">
		<script src="static/assets/js/generator.js"></script>
		<meta charset="utf-8">
		<meta name="description" content="PyIris - Generator">
		<meta name="author" content="Angus Yim">
		<meta name="theme-color" content="#13a10e" />
		<title>PyIris - Generator</title>
	</head>
	<body>
		<nav>
			<a href="home">Home</a>
			<a href="generator" style="color: #13a10e">Generator</a>
			<a href="listeners" style="color: #3b79ff">Listeners</a>
			<a href="scouts" style="color: #e74856">Scouts</a>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div id="error" class="hide"></div>
					<div id="success" class="hide"></div>

					<h1 class="label" id="h1_generator_heading">Generator</h1>

					<div>
						<button id="button_reload_all" class="select" style="width: 110px !important;">Reload all</button>
					</div>
					<div class="div_heading" id="div_main_settings_heading">
						<a href="#!">
							<img src="static/images/img.png" border="0" id="img_main_settings_arrow" class="img_arrow" style="width: 30px; height: 30px;"/>
						</a>
						<h2 class="custom_label" id="h2_main_settings_heading" style="margin-left: 10px">Settings</h2>
					</div>
					<div id="div_main_settings">
						<table id="table_host">
							<tr>
								<th>Host</th>
							</tr>
							<tr>
								<td>
									<input type="text" id="input_host" name="Host" placeholder="Hostname" maxlength="100">
									<button id="button_host" class="select">Add</button>
								</td>
							</tr>
						</table>
						<table id="table_port">
							<tr>
								<th>Port</th>
							</tr>
							<tr>
								<td>
									<input type="text" id="input_port" name="Port" placeholder="Port" maxlength="5">
									<button id="button_port" class="select">Update</button>
								</td>
							</tr>
							<tr>
								<td id="td_port_value">
									9999
								</td>
							</tr>
						</table>
						<table id="table_timeout">
							<tr>
								<th>Timeout</th>
							</tr>
							<tr>
								<td>
									<input type="text" id="input_timeout" name="Timeout" placeholder="Timeout (s)" maxlength="5">
									<button id="button_timeout" class="select">Update</button>
								</td>
							</tr>
							<tr>
								<td id="td_timeout_value">
									5
								</td>
							</tr>
						</table>
						<table id="table_compiler_configuration" style="table-layout: fixed;">
								<tr>
									<th>Compiler Configuration</th>
									<th></th>
								</tr>
								<tr id="tr_windows">
									<td>
										Windows
									</td>
									<td>
										<label class="switch">
											<input type="checkbox" id="input_checkbox_windows" checked>
											<span class="slider"></span>
										</label>
									</td>
								</tr>
								<tr id="tr_compile">
									<td>
										Compile
									</td>
									<td>
										<label class="switch">
											<input type="checkbox" id="input_checkbox_compile">
											<span class="slider"></span>
										</label>
									</td>
								</tr>
								<tr id="tr_compile_onefile">
									<td>
										Compile to one file
									</td>
									<td>
										<label class="switch">
											<input type="checkbox" id="input_checkbox_compile_onefile" checked>
											<span class="slider"></span>
										</label>
									</td>
								</tr>
								<tr id="tr_compile_windowed">
									<td>
										Windowed
									</td>
									<td>
										<label class="switch">
											<input type="checkbox" id="input_checkbox_compile_windowed" checked>
											<span class="slider"></span>
										</label>
									</td>
								</tr>
								<tr id="tr_compile_custom_icon">
									<td>
										Custom .ico file
									</td>
									<td>
										<label class="switch">
											<input type="checkbox" id="input_checkbox_compile_custom_icon">
											<span class="slider"></span>
										</label>
									</td>
								</tr>
								<tr id="tr_compile_custom_icon_path">
									<td>
										Custom .ico filepath
									</td>
									<td>
										<input type="text" id="input_compile_custom_icon_path" name="Custom Icon Path" placeholder="Path to icon">
									</td>
								</tr>
							</table>
					</div>

					<div class="div_heading" id="div_components_heading">
						<br>
						<br>
						<a href="#!">
							<img src="static/images/img.png" border="0" id="img_components_arrow" class="img_arrow" style="width: 30px; height: 30px;"/>
						</a>
						<h2 class="custom_label" id="h2_components_heading" style="margin-left: 10px">Components</h2>
					</div>
					<table id="table_components">
						<tr>
							<th class="sticky">ID</th>
                            <th class="sticky">Name</th>
	                        <th class="sticky">Description</th>
                            <th class="sticky">
	                            <label class='label_checkbox_container'>
		                            <input id = "input_checkbox_components_all" type='checkbox'>
                                    <span class='checkmark'></span>
                                </label>
                            </th>
						</tr>
					</table>

					<div class="div_heading" id="div_available_encoders_heading">
						<br>
						<br>
						<a href="#!">
							<img src="static/images/img.png" border="0" id="img_available_encoders_arrow" class="img_arrow" style="width: 30px; height: 30px; margin-top: 12px"/>
						</a>
						<h2 class="custom_label" id="h2_available_encoders_heading" style="margin-left: 10px">Encoders</h2>
					</div>
					<table id="table_available_encoders">
						<tr>
							<th>ID</th>
                            <th>Name</th>
	                        <th>Description</th>
                            <th></th>
						</tr>
					</table>

					<div class="div_heading" id="div_loaded_encoders_heading">
						<br>
						<br>
						<a href="#!">
							<img src="static/images/img.png" border="0" id="img_loaded_encoders_arrow" class="img_arrow" style="width: 30px; height: 30px;"/>
						</a>
						<h2 class="custom_label" id="h2_loaded_encoders_heading" style="margin-left: 10px">Loaded Encoders</h2>
					</div>
					<table id="table_loaded_encoders">
						<tr>
							<th>Order</th>
							<th>ID</th>
							<th>Name</th>
							<th></th>
						</tr>
					</table>

					<div class="div_heading" id="div_miscellaneous_settings_heading">
						<br>
						<br>
						<a href="#!">
							<img src="static/images/img.png" border="0" id="img_miscellaneous_settings_arrow" class="img_arrow" style="width: 30px; height: 30px;"/>
						</a>
						<h2 class="custom_label" id="h2_miscellaneous_settings_heading" style="margin-left: 10px">Misc. Settings</h2>
					</div>
					<div id="div_miscellaneous_settings">
						<table id="table_modules">
							<tr>
								<th>Modules to Import</th>
							</tr>
							<tr>
								<td>
									<input type="text" id="input_modules" name="Modules" placeholder="Enter module" maxlength="100">
									<button id="button_modules" class="select">Add</button>
								</td>
							</tr>
						</table>
						<table id="table_scout_sleep">
							<tr>
								<th>Time for scout to sleep</th>
							</tr>
							<tr>
								<td>
									<input type="number" id="input_scout_sleep" name="scout_sleep" placeholder="Enter time to sleep (default is 60s)" maxlength="100" style="width: 20em !important;">
								</td>
							</tr>
						</table>
						<table id="table_root_message">
							<tr>
								<th>Message to display while requesting root on startup</th>
							</tr>
							<tr>
								<td>
									<input type="text" id="input_root_message" name="root message" placeholder="Enter message (leave blank for default)" style="width: 35em !important;">
								</td>
							</tr>
						</table>
					</div>

					<br>
					<br>

					<button id="button_generate" class="select center" style="display: block; width: 300px !important; height: 50px; font-size: 20px"><i class="fa fa-circle-o-notch fa-spin" id="i_generate_spinner"></i>  Generate</button>

					<br>

					<div id="copyright">
						<a href="https://github.com/angus-y/PyIris-backdoor">GitHub</a><br>
						Version 1.0.1<br>
						Copyright © 2020 Angus Yim<br>
						<a href="https://github.com/angus-y" target="_blank">https://github.com/angus-y</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
