<!DOCTYPE html>
<html>
	<head>
		<script src="static/assets/js/jquery.min.js"></script>
		<link rel="stylesheet" href="static/assets/css/font-awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="static/assets/css/listeners.css">
		<link rel="stylesheet" href="static/assets/css/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<script src="static/assets/js/listeners.js"></script>
		<script src="static/assets/js/monitor.js"></script>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=0.8, minimal-ui">
		<meta name="description" content="PyIris - Listeners">
		<meta name="author" content="Angus Yim">
		<meta name="theme-color" content="#ffffff" />
		<title>PyIris - Listeners</title>
	</head>
	<body>
		<nav>
			<a href="home">Home</a>
			<a href="generator" style="color: #13a10e" id="gen_link">Generator</a>
			<a href="listeners" style="color: #3b79ff">Listeners</a>
			<a href="scouts" style="color: #e74856">Scouts</a>
		</nav>
		<div class="container hide">
			<div class="row">
				<div class="col-12">
					<div id="error" class="hide" style="font-size: small"></div>
					<div id="success" class="hide" style="font-size: small"></div>

					<h1 class="label" id="h1_listeners_heading">Listeners</h1>

					<div>
						<button id="button_reload_all" class="select" style="width: 110px !important;">Reload all</button>
					</div>
					<div class="div_heading" id="div_bind_heading">
						<a href="#!">
							<img src="static/images/img.png" border="0" id="img_bind_arrow" class="img_arrow" style="width: 30px; height: 30px;"/>
						</a>
						<h2 class="custom_label" id="h2_bind_heading" style="margin-left: 10px">Bind</h2>
					</div>
					<div id="div_bind">
						<table id="table_bind">
							<tr>
								<th>Bind Options</th>
							</tr>
							<tr>
								<td>
									<input type="text" id="input_bind_interface" name="Interface" placeholder="Local interface to bind to" style="width: 20em" maxlength="100">
								</td>
							</tr>
							<tr>
								<td>
									<input type="number" id="input_bind_port" name="Port" placeholder="Local port to bind on" style="width: 17em" maxlength="100">
								</td>
							</tr>
						</table>
						<br>
						<button id="button_bind" class="select center" style="display: block; width: 200px !important; height: 40px; font-size: 16px"><i class="fa fa-circle-o-notch fa-spin" id="i_bind_spinner"></i> Bind</button>
					</div>

					<div class="div_heading" id="div_main_settings_heading">
						<br>
						<br>
						<a href="#!">
							<img src="static/images/img.png" border="0" id="img_main_settings_arrow" class="img_arrow" style="width: 30px; height: 30px;"/>
						</a>
						<h2 class="custom_label" id="h2_main_settings_heading" style="margin-left: 10px">Settings</h2>
					</div>
					<div id="div_main_settings">
						<button id="button_main_settings_reset_all" class="button_main_settings_reset select">Reset All</button>
						<table id="table_main_settings_interface">
							<tr>
								<th>Interface</th>
							</tr>
							<tr>
								<td>
									<input type="text" id="input_main_settings_interface" name="Interface" placeholder="Local interface to start a listener" style="width: 20em" maxlength="100">
									<button id="button_main_settings_interface" class="button_main_settings select">Update</button>
									<button id="button_main_settings_reset_interface" class="button_main_settings_reset select">Reset</button>
								</td>
							</tr>
							<tr>
								<td id="td_main_settings_interface_value">
								</td>
							</tr>
						</table>
						<table id="table_main_settings_port">
							<tr>
								<th>Port</th>
							</tr>
							<tr>
								<td>
									<input type="number" id="input_main_settings_port" name="Port" placeholder="Local port to start a listener" style="width: 17em" maxlength="100">
									<button id="button_main_settings_port" class="button_main_settings select">Update</button>
									<button id="button_main_settings_reset_port" class="button_main_settings_reset select">Reset</button>
								</td>
							</tr>
							<tr>
								<td id="td_main_settings_port_value">
								</td>
							</tr>
						</table>
						<table id="table_main_settings_name">
							<tr>
								<th>Name</th>
							</tr>
							<tr>
								<td>
									<input type="text" id="input_main_settings_name" name="Name" placeholder="Name of the listener" style="width: 20em" maxlength="100">
									<button id="button_main_settings_name" class="button_main_settings select">Update</button>
									<button id="button_main_settings_reset_name" class="button_main_settings_reset select">Reset</button>
								</td>
							</tr>
							<tr>
								<td id="td_main_settings_name_value">
								</td>
							</tr>
						</table>
						<table id="table_main_settings_reply">
							<tr>
								<th>Reply</th>
							</tr>
							<tr>
								<td>
									<input type="text" id="input_main_settings_reply" name="Reply" placeholder="Reply to send back" style="width: 25em" maxlength="100">
									<button id="button_main_settings_reply" class="button_main_settings select">Update</button>
									<button id="button_main_settings_reset_reply" class="button_main_settings_reset select">Reset</button>
								</td>
							</tr>
							<tr>
								<td id="td_main_settings_reply_value">
								</td>
							</tr>
						</table>
					</div>

					<div class="div_heading" id="div_listeners_heading">
						<br>
						<br>
						<a href="#!">
							<img src="static/images/img.png" border="0" id="img_listeners_arrow" class="img_arrow" style="width: 30px; height: 30px;"/>
						</a>
						<h2 class="custom_label" id="h2_listeners_heading" style="margin-left: 10px">Listeners</h2>
					</div>
					<div id="div_listeners">
						<table id="table_listeners" style="border-collapse: collapse; table-layout: fixed;">
							<tr>
								<th>ID</th>
								<th>Interface</th>
								<th>Port</th>
								<th>Name</th>
								<th>Started</th>
								<th class="th_break_word" style="width: 18%">Connections</th>
								<th class='td_remove_listener' id='td_remove_listener_main'><button class='red'>X</button>   <i class="fa fa-circle-o-notch fa-spin" id="i_remove_listener_spinner_main"></i></th>
							</tr>
						</table>
						<br>
					</div>


					<br>
					<br>

					<button id="button_run" class="select center" style="display: block; width: 300px !important; height: 50px; font-size: 20px">Run listener</button>

					<div id="copyright">
						<a href="https://github.com/angus-y/PyIris-backdoor">GitHub</a><br>
						Version 1.1.4<br>
						Copyright © 2020 Angus Yim<br>
						<a href="https://github.com/angus-y" target="_blank">https://github.com/angus-y</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>